@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white text-coffee-800 font-body;
  }

  ::selection {
    @apply bg-coffee-200 text-coffee-800;
  }
}
